@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 0 15%;
  position: relative;

  @media (max-width: 800px) {
    & {
      padding: 0 2em;
    }
  }

  &::before {
    content: "";
    background-image: url("../src/components/Images/watermark.jpeg ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 35%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}
